//- mixins.pug
mixin sectionModulable(containerClass, reverse=false, data, title)
  section(class=containerClass)
    div(class=`container flex justify-between ${reverse ? 'flex-row-reverse' : ''} gap-[30px]`)
      each item in data
        div.section-content
          h2.title_before(data-content=title)= item.title
          p= item.describe
        img.hero-section__img(src=`./assets/images/${item.img}`, alt=item.alt)
