extends layout.pug

block title 
 title Finsweet-About

block content 
 block section-modulable
  section(class='container flex justify-between gap-2')
   each item in our_design
    div(class="section-content")
     h1(class="title_before" data-content="About us")=item.title
     p=item.describe
    img(src=`./assets/images/${item.img}`, alt=item.alt , class="hero-section__img") 
 section(class="container bg-[#F4F5F5] pb-0") 
  div(class="flex items-end justify-between space-x-4 px-[70px] pb-[80px]")
   div(class="max-w-[515px]") 
    h2(class="title_before text-2xl" data-content="Who we are") Goal focussed
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
   div(class="max-w-[515px]") 
    h2(class="text-2xl") Continuous improvement
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
  img(src="./assets/images/focussed-image.png", alt="image-focussed" , class='w-full')  
 section(class='container') 
  h2(class="text-center") The process we follow
  ul(class="flex justify-center flex-wrap gap-x-5 gap-y-10 mt-[48px]") 
   each item in process 
    li(class="max-w-[270px]") 
     img(src= `./assets/images/${item.src}`, alt="line-icon" , class="mb-[20px] w-full") 
     h3(class="mb-3")=item.title 
     p=item.describe
 div(class='bg-accent')
  block section-modulable
   section(class='container flex justify-between gap2')
    each item in our_mission
     div(class="section-content")
      h2(class="title_before" data-content="Our mission")=item.title
      p=item.describe
     img(src=`./assets/images/${item.img}`, alt=item.alt , class="hero-section__img")     
  block section-modulable
   section(class='container flex justify-between flex-row-reverse pt-0 gap-2')
    each item in our_vision
     div(class="section-content")
      h2(class="title_before" data-content="Our vision")=item.title
      p=item.describe
     img(src=`./assets/images/${item.img}`, alt=item.alt , class="hero-section__img")
 section 
  block cards 
    div(class='container')
     h2(class="text-center max-w-[630px] mx-auto") The benefits of working with us
     ul(class="features-list")
      each item in benefits 
       li(class="features-list_item bg-grey")
        img(src=`./assets/images/${item.icon}`, alt=item.alt )
        h3=item.title 
        p=item.describe    
  ul(class="container flex justify-center flex-wrap gap-9 mt-[70px] ") 
   li 
    img(src="./assets/images/logo-1.png", alt="")      
   li 
    img(src="./assets/images/logo-2.png", alt="") 
   li 
    img(src="./assets/images/logo-3.png", alt="")
   li 
    img(src="./assets/images/logo-4.png", alt="")  
   li 
    img(src="./assets/images/logo-5.png", alt="") 