//- about.pug
extends layout.pug

//- Inclure le fichier mixin
include ../includes/mixins.pug

block title 
  title Finsweet-About

block content 
  block section-modulable
    +sectionModulable('', false, [about_groupes[0].our_design], 'About us')
    
  section(class="container bg-[#F4F5F5] pb-0 md:pt-[30px]") 
    div(class="flex items-end justify-between gap-x-4 px-clamp sm:px-0 pb-clamp md:flex-col md:gap-y-5 md:gap-x-0")
      div(class="max-w-[515px] md:max-w-full") 
        h2(class="title_before text-2xl" data-content="Who we are") Goal focussed
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      div(class="max-w-[515px] md:max-w-full") 
        h2(class="text-2xl") Continuous improvement
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
    img(src="./assets/images/focussed-image.png", alt="image-focussed" , class='w-full' , loading="lazy")  
    
  section(class='container') 
    h2(class="text-center") The process we follow
    ul(class="flex justify-center flex-wrap gap-x-5 gap-y-10 mt-[48px]") 
      each item in process 
        li(class="max-w-[270px] sm:max-w-full") 
          img(src= `./assets/images/${item.src}`, alt="line-icon" , class="mb-[20px] w-full" , loading="lazy") 
          h3(class="mb-3")= item.title 
          p= item.describe
          
  div(class='bg-accent')
    block section-modulable
      +sectionModulable('', false, [about_groupes[0].our_mission], 'Our mission')
      
    block section-modulable
      +sectionModulable('container pt-0 px-0', true, [about_groupes[0].our_vision], 'Our vision')
      
  section 
    block cards 
      div(class='container')
        h2(class="text-center max-w-[630px] mx-auto") The benefits of working with us
        ul(class="features-list")
          each item in benefits 
            li(class="features-list_item bg-grey")
             article
              img(src=`./assets/images/${item.icon}`, alt=item.alt , loading="lazy")
              h3= item.title 
              p= item.describe    
              
    block list-images
     ul(class="container flex justify-center flex-wrap gap-9 mt-[70px]") 
      li 
        img(src="./assets/images/logo-6.png" , loading="lazy")
      li 
        img(src="./assets/images/logo-1.png", loading="lazy")      
      li 
        img(src="./assets/images/logo-2.png", loading="lazy") 
      li 
        img(src="./assets/images/logo-3.png", loading="lazy")
      li 
        img(src="./assets/images/logo-4.png", loading="lazy")  
      li 
        img(src="./assets/images/logo-5.png", loading="lazy") 
        
  section(class='bg-grey') 
    div(class='container')
      h2(class='text-center') Meet our team
      ul(class="multiple-items flex justify-center mt-[48px] space-x-5") 
        each item in team
          li
           article
            img(src=`assets/images/${item.img}` , loading="lazy")
            h3= item.name 
            h4= item.designation
      div(class='flex justify-center mx-auto mt-[40px]') 
        button(type="button" , class="slick-prev bg-white")
          img(src="./assets/images/icon-prev.png", alt="icon-prev" , loading="lazy")
        button(type="button" , class="slick-next") 
          img(src="./assets/images/icon-next.png", alt="icon-next" , loading="lazy")
