//- features.pug
extends layout.pug

//- Inclure le fichier mixin
include ../includes/mixins.pug

block title 
 title Finsweet-Features

block content 
  block hero_section
    section(class="bg-tint-blue")
      div(class="container flex justify-between md:flex-col gap-y-11") 
        div(class="max-w-[485px] md:max-w-full") 
          h2(class="text-white mb-[24px]") All the features you need
          p(class="text-grey mb-[48px]") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.    
          a(href="./pricing.html" , class="btn") View Pricing
        img(src="./assets/images/feature.svg", alt="feature" , class="hero-section__img md:w-[90%]" , loading="lazy") 
  block list-images
   ul(class="container flex justify-center flex-wrap gap-9 mt-[70px] ") 
    li 
     img(src="./assets/images/logo-6.png" , loading="lazy")
    li 
     img(src="./assets/images/logo-1.png", loading="lazy")      
    li 
     img(src="./assets/images/logo-2.png", loading="lazy") 
    li 
     img(src="./assets/images/logo-3.png", loading="lazy")
    li 
     img(src="./assets/images/logo-4.png", loading="lazy")  
    li 
     img(src="./assets/images/logo-5.png", loading="lazy") 
  section
   block cards 
    div(class='container')
     h2(class="text-center max-w-[630px] mx-auto") The benefits of working with us
     ul(class="features-list")
      each item in benefits 
       li(class="features-list_item bg-grey")
        img(src=`./assets/images/${item.icon}`, alt=item.alt , loading="lazy" )
        h3=item.title 
        p=item.describe    
  block section-modulable
    +sectionModulable('pt-0', false, [features_groupes[0].client], 'Use Client-first')

  block section-modulable
    +sectionModulable(' bg-grey ', true, [features_groupes[0].free_revision], 'Free Revision Rounds')

  block section-modulable
    +sectionModulable('', false, [features_groupes[0].priority_support], '24/7 Support')

  block section-modulable
    +sectionModulable('bg-yellow bg-opacity-10 ', true, [features_groupes[0].quick_delivery] , 'Quick Delivery')
  block accordion_section
   section(class='container flex items-start justify-between xl:flex-col xl:gap-y-7')
    block section_title 
     div(class='max-w-[409px] xl:max-w-full')
      h2(class='mb-[16px]') Frequently asked questions
      a(href="./contact.html" , class='text-royal-blue') Contact us for more info
     div(class='w-[50%] xl:w-full xl:px-[20px]')
      ul
       each item in info_accordion
        li(class="list-square")
         details(class='accordion_details' , open=item.type)
          summary(class="summary_after flex justify-between space-x-2 mb-3") 
            h3(class='font-medium')=item.title
          p(class='mx-auto max-w-[600px] mb-[20px] xl:max-w-full')=item.describe