//- index.pug
extends layout.pug

block title 
  title Finsweet-Home 

block content 
  block hero_section
    section(class="bg-tint-blue")
      div(class="container flex justify-between md:flex-col gap-y-11") 
        div(class="max-w-[585px] md:max-w-full") 
          h1(class="text-white mb-[24px]") Building stellar websites for early startups
          p(class="text-grey mb-[48px]") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          ul(class="flex space-x-clamp") 
            li
              a(href="./work.html" , class="btn") View our work
            li 
              a(href="./pricing.html" , class="text-grey") View Pricing 
                img(src="./assets/images/arrow-right-white.png" , alt="arrow-right" , class='ml-[12px]')
        img(src="./assets/images/illustration.svg", alt="illustration" , class="hero-section__img md:w-[90%]" , loading="lazy") 
  section(class='bg-grey')
    div(class='container flex items-start justify-between md:flex-col md:gap-y-7')
      div(class="max-w-[400px] md:max-w-full") 
        h2(class="mb-[16px]") How we work
        p(class="mb-[16px]") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        a(href="./work.html" , class="text-royal-blue") Get in touch with us
          img(src="./assets/images/arrow-right-blue.png" , alt="arrow-right" , class='ml-[12px]')
      ul(class='grid grid-cols-2 gap-[48px] md:grid-cols-auto-fill-minmax-300 md:w-[98%]')
        each item in works
          li(class='max-w-[300px] md:max-w-full')
            img(src=`./assets/images/${item.img}`, loading="lazy")  
            h3(class='my-[8px]')=item.title 
            p=item.describe 
  section(class='container pb-[80px] px-[30px]') 
    div(class='flex justify-between gap-y-2 sm:flex-col')
      h2 View our projects
      a(href="./work.html") View More
        img(src="./assets/images/arrow-right-black.png" , alt="arrow-right" , class='ml-[12px]')
    ul(class='grid grid-cols-[70%_30%] gap-4 mt-[64px] md:grid-cols-none') 
     each project, index in projects
      if index === 0
        li(class='relative col-start-1 col-end-2 row-span-2 md:col-span-2 md:row-span-1')
          img(src=`./assets/images/${project.src}`, alt=project.alt , class='w-full h-full' , loading="lazy")
          div(class='absolute top-0 bg-tint-blue bg-opacity-85 h-full w-[48%] sm:w-[70%]') 
            div(class='absolute bottom-40 px-30 ') 
              h3(class='text-clamp-h3 text-white mb-[16px]')= project.title
              p(class='text-grey mb-[25px]')= project.description
              a(href=project.href , class='text-clamp text-yellow') 
                | View projet 
                img(src="./assets/images/arrow-right-yellow.png" , alt="arrow-right" , class='ml-[12px]')
      else if index === 1
        li(class='relative col-start-2 col-end-3 row-span-1 md:col-start-1 md:col-end-2 md:row-start-2')
          img(src=`./assets/images/${project.src}`, alt=project.alt , class='w-full h-full bg-grey object-cover' , loading="lazy")
          div(class='absolute top-0 bg-tint-blue bg-opacity-75 h-full w-full sm:display-none') 
            div(class='absolute bottom-[20px] px-30')
              h3(class=' text-white mb-[16px]')= project.title
              a(href=project.href , class='text-clamp text-yellow') 
                | View projet 
                img(src="./assets/images/arrow-right-yellow.png" , alt="arrow-right" , class='ml-[12px]')
      else if index === 2
        li(class='col-start-2 col-end-3 row-span-1 md:row-start-2')
          img(src=`./assets/images/${project.src}`, alt=project.alt , class='w-full h-full object-cover' , loading="lazy")
  section(class='bg-grey')
   block cards 
    div(class='container')
     h2(class="title_before text-center max-w-[630px] mx-auto" data-content="Features") Design that solves problems, one product at a time
     ul(class="features-list")
      each item in features 
       li(class="features-list_item bg-white")
        img(src=`./assets/images/${item.icon}`, alt=item.alt , class='object-cover',loading="lazy" )
        h3=item.title 
        p=item.describe
  section(class='container flex items-start justify-between relative space-x-1')
   block section_title 
    div(class='max-w-[409px]')
     h2(class='mb-[16px]') What our clients say about us
     p Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.
   ul(class='single-item  max-w-[650px] ')
    each item in about
     li 
      article 
       p(class="text-base font-medium")=item.describe
       div(class="flex space-x-3 mt-[20px]")
        img(src=`./assets/images/${item.img}`, alt=item.alt , class="w-[8%]" , loading="lazy")
        div 
         h3=item.name
         h4(class='text-xs font-light')=item.designation
   div(class="btn-click") 
    button(type="button" class="slick-prev bg-grey")
     img(src="./assets/images/icon-prev.png", alt="icon-prev" , loading="lazy")
    button(type="button" class="slick-next") 
     img(src="./assets/images/icon-next.png", alt="icon-next" , loading="lazy")         
  block accordion_section
   section(class='container flex items-start justify-between xl:flex-col xl:gap-y-7')
    block section_title 
     div(class='max-w-[409px] xl:max-w-full')
      h2(class='mb-[16px]') Frequently asked questions
      a(href="./contact.html" , class='text-royal-blue') Contact us for more info
     div(class='w-[50%] xl:w-full xl:px-[20px]')
      ul
       each item in info_accordion
        li(class="list-square")
         details(class='accordion_details' , open=item.type)
          summary(class="summary_after flex justify-between space-x-2 mb-3") 
            h3(class='font-medium')=item.title
          p(class='mx-auto max-w-[600px] mb-[20px] xl:max-w-full')=item.describe
  section(class='container flex bg-tint-blue p-0 md:flex-col')
   div(class='bg-custom-bg bg-repeat-round min-h-[630px] max-w-[656px] md:max-w-full md:min-h-clamp')
    div(class='bg-opacity-bg py-clamp pt-clamp min-h-[630px] md:min-h-clamp') 
     h2(class='text-white mb-[24px]') Building stellar websites for early startups
     p(class='text-white') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
   div(class='px-[50px] p-[50px] md:px-[30px] md:p-[30px] ') 
    h3(class='text-white text-lg font-medium') Send inquiry
    p(class='text-grey mt-[16px]') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    form(action="", class="grid gap-y-3 my-[40px]")
     input(type="text", placeholder="Your Name", class="py-[14px] px-4 border border-grey" required)
     input(type="email", placeholder="Email", class="py-[14px] px-4 border border-grey" required)
     input(type="text", placeholder="Paste your Figma design URL", class="py-[14px] px-4 border border-grey" required)
     button(class='btn font-medium mt-4 rounded-none') Send an Inquiry
    a(href="./contact.html" class='flex justify-center text-grey') Get in touch with us
     img(src="./assets/images/arrow-right-white.png" , alt="arrow-right" , class='ml-[12px]' , loading="lazy")
  block blog
   section(class="container")
    h2 Our blog 
    ul(class='flex justify-between flex-wrap gap-5 mt-[64px]')
     each item in our_blog
      li(class='flex-1')
       article
        img(src=`./assets/images/${item.img}`, alt="" , class="w-full" , loading="lazy")
        p(class="mb-3 mt-[40px]")
         time(datetime=item.date_time)= item.date
        h3(class="text-base font-medium mb-3")=item.title 
        p(class="mb-5")=item.describe    
        a(href="#" , class="font-medium") Read more
         img(src="./assets/images/arrow-right-black.png" , alt="arrow-right" , class='ml-[12px] align-middle' , loading="lazy")